@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Card>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cardStyles.css">
    <title>Card</title>
</head>
<body>
        <div class="card">
            <div id="image">
                <img src="@Model.ContactImage.Content.Url()" alt="">
            </div>
            <div id="content">
                <h3> @Model.ContactName</h3>
                @Model.ContactBadge
                <p>@Model.ContactDescription</p>
                <p>@Model.ContactEmail</p>
                <p>@Model.ContactPhone</p>
            </div>
        </div>
</body>

